body{
  font-family: arial;
  margin: 20px;
}

div, img{
  display: block;
  margin-bottom: 50px;
}

.image-1{
  background-image: url(image.png);
  height: 64px;
  width: 168px;
}

.image-2{
  background-image: url(image.png);
  background-image: -webkit-image-set(url(image.png) 1x, url(image@2x.png) 2x);
  height: 64px;
  width: 168px;
}
